@import "../../scss/index.scss";

.titulo-form-mascotas {
  text-align: center;
  color: $font-primary;
}

.col-form-mascota {
  background-color: $primary-dark-light;
}

.chkbox-cast {
  color: $border-dark;
}

.chkbox-cast:checked {
  background-color: $border-dark;
}
.row1-registro {
  margin-bottom: 20px;
}

.row2-registro {
  margin-bottom: 20px;
}

.row3-registro {
  margin-bottom: 20px;
}

.buttonFormMascota {
  width: 100%;
  height: 100%;
  
}