@import "./scss/index.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #AA8B56);
}

.button-container {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: Helvetica;
  background-color: #1a1a1a;
  color: #F0EBCE;
  cursor: pointer;
}
.button:hover {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F0EBCE;
  color: #333;
  cursor: pointer;
}