@import "./scss/index.scss";

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  background-color: $primary-light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  box-shadow: none !important;
}

.btn.btn-primary {
  background-color: $primary-light;
  border-color: $primary-light;
  &:hover {
    background-color: rgb(240, 235, 206, 1);
    color: $font-green-dark;
  }
}

.btn.btn-outline-primary {
  border-color: $border-primary;
  color: $primary-light;
  &:hover,
  &:active,
  &:focus {
    background-color: rgb(240, 235, 206, 0.3) !important;
  }
}


input.form-control,

textarea.form-control {
  background-color: $primary-light;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-dark;
  color: $font-green-dark !important;
  margin-bottom: 10px;
  font-size: 25px;

  &:up {
    background-color: $primary-dark;
  }

  &:focus {
    background-color: $background-light;
    box-shadow: none;
    border-bottom: 1px solid $border-primary;
  }
  
  

}


input.form-check-input {

  border-color: $border-dark;

  &:hover {
    border-color: $primary;
  }

  &:checked {
    background-color: $border-dark;
    border-color: $border-light;
    color: $font-primary
  }
}

select.form-select {
  background-color: $primary-light;
  border-color: $primary-light;
  
  &:focus {
    border-color: $border-primary;
    box-shadow:  0px 0px 25px $border-primary;
  }

  &:hover {
    background-color: $primary-light;
  }
}