@import "../../scss/index.scss";

.header-vendedor {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $background-dark;
  height: 20%;
  font-weight: bold;
  text-align: center;
  color: $font-dark;
  padding: 20px;
  margin-bottom: 5px;

  span.spanheader {
    color: $font-primary;
    font-weight: bold;
  }

  h1 {
    font-weight: bold;
  }
  
}



