@import "../../scss/index.scss";

.logsignup {
    
    .col-logo {
        background-color: $primary-light;
    }
    
    
    &__cliente {
        overflow: hidden;
        min-height: 100vh;
        background-color: $primary-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $font-primary;

        col {
            justify-content: center;
            display: flex;
        }

        div {
            bottom: unset;
            text-align: center;

            h1 {
                font-weight: bold;
                font-size: 40px;
                margin-bottom: 70px;
                display: inline-block;
            }
            
            button {
                display: block;
                width: 100%;
                border-radius: 50px;
                font-size: 20px;
                font-weight: bold;
                padding: 10px 0;

                &:hover {
                    border-color: $primary;
                }

                &:first-of-type {
                    margin-bottom: 20px;
                }
            }

            p {
                display: grid;
                position: relative;
                justify-content: center;
                font-weight: bold;
                margin-top: 200px;
            }
        }
    }
}

.logo {
    position: relative;
    top: 30%;
    color: $font-dark;
    font-weight: bold;
    font-size: 40px; 
    text-align: center; 
    height: 200px; 
}

.logoPng {
    position: relative;
    bottom: -30%;
    width: 150px;
}

.logsignup__cliente.col {
    justify-content: center;
    display: flex;   
}