@import "../../scss/index.scss";

.footer {

  background-color: $background-dark;
  height: 50%;
  padding: 20px;
  box-sizing: border-box;
  


  p {
    font-weight: bold;
    text-align: center;
    color: $font-primary;
    
  }
  
}

.footerPS {
  font-weight: bold;
  color: $font-dark;
}

