@import "../../scss/index.scss";


.lista-mascotas {
  background-color: $primary;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-left: 2px solid;
  border-color: $border-dark;
  
  h2 {
    text-align: center;
    color: $danger;
    justify-content: center;
  }

  p {
    text-align: center;
    color: $font-green-dark;
    justify-content: center;
    font-weight: bolder;
  }

}

