$primary: #F0EBCE;
$primary-light: #AA8B56;
$primary-dark-light: #4E6C50;
$primary-dark: #395144;

$font-primary: $primary;
$font-light: #fff;
$font-dark: #333;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: #fff;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;
