$primary: #FFF2F2;
$primary-light: #E5E0FF;
$primary-dark-light: #8EA7E9;
$primary-dark: #7286D3;

$font-primary: $primary;
$font-light: #916BBF;
$font-dark: #3D2C8D;
$font-green-dark: #1C0C5B;

$border-primary: $primary-light;
$border-light: #3D2C8D;
$border-grey: #C996CC;
$border-dark: $primary-dark;

$background-light: $primary;
$background-dark: $primary-dark;

$danger: #e0245e;
