@import "../../scss/index.scss";


.home-cliente {

  background-color: $primary;

  .row-1 {
    margin-top: 40px;
  }

  .col-1 {
    width: 60%;
    border-left: 2px solid;
    border-color: $border-dark;
  }
  
}

.chkbox-cast {
  color: $border-dark;
}

.chkbox-cast:checked {
  background-color: $border-dark;
}
.row1-registro {
  margin-bottom: 20px;
}

.row2-registro {
  margin-bottom: 20px;
}

.row3-registro {
  margin-bottom: 20px;
}

h4 {
  background-color: $primary-dark-light;
  color: $primary;
}

Col {
  border: solid;
  border-width: 2px;
  border-color: $primary-dark-light;

}